.qr-block {
  display: inline-block;
  border: 3px black;
  text-align: center;
}

.qr {
  width: 156px;
  height: 156px;
  margin: 0 auto;
}

.hideQR {
  display: none;
}

.hexstr {
  word-wrap:break-word;
}
