/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('./bg.svg');
  background-repeat: repeat;
  background-size: 256px 256px;
}

@media print {
  .wallet-page {
    width: 210mm;
    page-break-after: always;
  }
  .ribbon {
    display: none;
  }
  #splash {
    display: none;
  }
  #form {
    display: none;
  }
  #print-foot {
    display: none;
  }
  #foot {
    display: none;
  }
  .no-print {
    display: none;
  }
}
